html{
	animation: bounceInRight 200ms;
	-webkit-animation: bounceInRight 200ms;
	background-color: #f5f5f5;
}
header{
	display: flex;
	width: 100vw;
	justify-content: space-around;
	align-items: center;
	flex-flow: column wrap;
	background: #3385FF center center no-repeat fixed;
	background-size: cover !important;
}
header label{
	margin: 9% 0;
}
header img{
	width: 5rem;
	height: 5rem;
	box-sizing: border-box;
	border-radius: 100%;
	border: 3px rgba(255,255,255,.4) solid;
}
header > .name{
	margin-bottom: 9%;
    color: white;
    text-shadow: 0 0 6px black;
    max-width: 15rem;
    height: 2rem;
    border-radius: 1rem;
    padding: 0 5px;
    line-height: 2rem;
    text-align: center;
}
header > .name > a{
	text-shadow: 0 0 10px black;
	text-decoration: underline;
	color: white;
}
header > .name:focus{
    background-color: rgba(255,255,255,.5);
    overflow: hidden;
    color: #000;
    text-shadow: none;
}

article{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	margin-bottom: 4rem;
}
article .personal-list{
	margin: 10px auto;
	border-top: 1px #E7E7E7 solid;
	border-bottom: 1px #E7E7E7 solid;
}
article .personal-list a{
	display: flex;
	width: 100vw;
	box-sizing: border-box;
	background-color: white;
	color: black;
	height: 3rem;
	line-height: 3rem;
	padding: 0 15px;
	border-bottom: 1px #F5F5F5 solid;
	justify-content: space-between;
}
article .personal-list a:last-child{
	border: none;
}
article .personal-list a i{
	height: 3rem;
	line-height: 3rem;
	color: #C8C8C8;
	font-size: x-large;
}

