html{
	animation: bounceInRight 200ms;
	-webkit-animation: bounceInRight 200ms;
}
header{
	display: flex;
	width: 100vw;
	justify-content: space-around;
	align-items: center;
	flex-flow: column wrap;
	background: center center no-repeat fixed;
	background-size: cover !important;
}
header > img{
	width: 5rem;
	height: 5rem;
	box-sizing: border-box;
	margin: 9% 0;
	border-radius: 2.5rem ;
	border: 3px rgba(255,255,255,.4) solid;
}
header > .name{
	margin-bottom: 9%;
	color: white;
}
